---
layout: page
title: "categories"
description: ""
header-img: "img/bg-5.jpg"
---
<div class="demo" style=" margin-left: -100px;" >
  <div class="history">
	 <div class="history-date">
      <ul>
   {% for post in site.posts %}
      <a href="{{ post.url | prepend: site.baseurl }}">
		<li class="green">
          <h3>{{ post.date | date: "%Y-%m-%d" }}</h3>
          <dl>
            <dt>
			<strong>{{ post.title }}</strong>
			<span>{% if post.subtitle %}
			{{ post.subtitle }}
			{% else %}
			{{ post.content | strip_html | truncate:60 }}
			{% endif %}
			</span></dt>
          </dl>
        </li>
		 </a>
  {% endfor %}
   </ul>
    </div>
  </div>
</div>
